[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
Type=simple
PIDFile=/var/run/redis/{{ redis_port }}.pid
User={{ redis_user }}
Group={{ redis_group }}
ExecStart={{ redis_install_dir }}/bin/redis-server {{ redis_conf_path }}
{% if redis_appendonly == 'no' -%}
ExecStop={{ redis_install_dir }}/bin/redis-cli -p {{ redis_port }} shutdown nosave
{% else -%}
ExecStop={{ redis_install_dir }}/bin/redis-cli -p {{ redis_port }} shutdown save
{% endif -%}
Restart=always

[Install]
WantedBy=multi-user.target
